.button {
    background-color: transparent;
    background-color: rgba(000, 000, 000, 0.3);
    color:  $light;
    transition: $transition-normal;
}

.button:hover {
    background-color: rgba(000, 000, 000, 0.45);
}