@use "sass:color";

$padding-btn: clamp(0.5rem, 2vw, 0.85rem) clamp(1rem, 2vw, 2rem);
$shadow-btn: 0 0 0 3px rgba($primary, 0.5);

@mixin shadow-color($color) {
  box-shadow: 0 0 0 3px rgba($color, 0.5);
}

@mixin outline($color) {
  background-color: transparent !important;
  border: 2px solid $color;
  color: $color;
  &:hover {
    background: $color !important;
    color: $light !important;
  }
}

@mixin variationBackgroundColor($color) {
  background-color: $color !important;

  &:hover {
    background-color: color.mix($dark,$color, 10%) !important;
  }

  &:focus {
    @include shadow-color($color);
  }
}

.button {
  background-color: $primary;
  border: none;
  color: white;
  padding: $padding-btn;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-md;
  margin: $spacing-md;
  cursor: pointer;
  transition: $transition-normal;
  border-radius: 0.875rem;
  padding: $btn-pd-md;

  &:hover {
    background-color:color.mix($dark,$primary, 10%);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
    @include shadow-color($primary);
  }
}

.secondary {
  @include variationBackgroundColor($secondary);
}

.success {
  @include variationBackgroundColor($success);
}
.warning {
  @include variationBackgroundColor($warning);
}
.danger {
  @include variationBackgroundColor($danger);
}
.info {
  @include variationBackgroundColor($info);
}

.outline.primary,
.outline {
  @include outline($primary);
}

.outline.secondary {
  @include outline($secondary);
}

.outline.success {
  @include outline($success);
}

.outline.danger {
  @include outline($danger);
}

.outline.warning {
  @include outline($warning);
}

.outline.info {
  @include outline($info);
}

.small {
  font-size: $font-size-sm;
  padding: $btn-pd-sm;
  margin: $spacing-sm;
}

.medium {
  font-size: $font-size-md;
  padding: $btn-pd-md;
  margin: $spacing-md;
}

.large {
  font-size: $font-size-lg;
  padding: $btn-pd-lg;
  margin: $spacing-lg;
}
