//spaces

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// borders
$border-radius-sm: 3px;
$border-radius: 6px;
$border-radius-lg: 12px;

//paddings
$padding-sm: 8px 16px;
$padding-md: 12px 24px;
$padding-lg: 16px 32px;
