@use "./_colors.scss" as *;
@use  "./_fonts.scss" as *;
@use "./_media_queries.scss" as *;
@use "./_spaces_borders.scss" as *;
@use "./_transitions_animations.scss" as *;
@use  "_reset_css.scss" as *;

html {
  scroll-behavior: smooth;
}

.bg-light {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(256, 256, 256, 0.05);
  transition: $transition-normal;
  box-shadow:  1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}

.bg-x2light {
  background-color: transparent;
  background-color: rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow:  1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}

.bg-x3light {
  background-color: transparent;
  background-color: rgba(256, 256, 256, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow:  1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}

.bg-dark {
  background-color: transparent;
  background-color: rgba(000, 000, 000, 0.1);
  transition: $transition-normal;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: $light;
  box-shadow: 1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}

.bg-x2dark {
  background-color: transparent;
  background-color: rgba(000, 000, 000, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: $light;
  box-shadow: 1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}

.bg-x3dark {
  background-color: transparent;
  background-color: rgba(000, 000, 000, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  color: $light;
  box-shadow: 1px 1px 1px rgba(000,000,000, 0.5);
  color: $light;
}
