.containerCheckbox {
    position: relative;
    width: fit-content;
  }
  
  .customLabel {
    width: 50px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    transition: $transition;
  }
  
  .customLabel::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $light;
    border-radius: 15px;
    background-color: $light;
    top: 3px;
    left: 2px;
    transition: $transition;
  }
  .checkbox {
    display: none !important;
  }
  .checkbox:checked + .customLabel {
    border: 1px solid $primary;
    background-color: $primary;
  }
  
  .checkbox:checked + .customLabel::after {
    transition: $transition;
    right: 2px;
    left: auto;
  }
  
  .checkbox:disabled + .customLabel {
    cursor: not-allowed;
  }